@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4361a0;
}
.all{
  width: 690px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
}
.in{
  border-radius: 5px;
  border: 1px solid #aaa;
}
.in .textinput{
  display: flex;
  border-bottom: 1px solid #aaa;
}
.textinput .totext{
  border-left: 1px solid #aaa;
}
.textinput textarea{
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  border-radius: 5px;
  background: none;
  padding: 10px 15px;
}
.controls, li, .icons, .icons i{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  list-style: none;
  padding: 12px 15px;
}
.controls .row.form .icons{
  padding-right: 15px;
  border-right: 1px solid #aaa;
}
.controls .row.to .icons{
  padding-left: 15px;
  border-left: 1px solid #aaa;
}
.controls .icons{
  width: 38%;
}
.controls .icons i{
  width: 20px;
  color: #9f9f9f;
  font-size: 14px;
  cursor: pointer;
  justify-content: space-between;
}
.controls .row select{
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding: 0px 20px;
}
.controls .exchange{
  color: #4f4f4f;
  font-size: 16px;
  cursor:pointer;
}
.all button{
  width:100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;
  background: #4361a0;
}